NEXT_PUBLIC_SUPABASE_URL=https://mkqhnkoswagcvptdgqld.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rcWhua29zd2FnY3ZwdGRncWxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0Mzg5NDcsImV4cCI6MjA5MjAxNDk0N30.O4Cuk8ddmSL9NuEMq9OzjtQP2ubqAiNVgWxuEJ9mEwU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rcWhua29zd2FnY3ZwdGRncWxkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQzODk0NywiZXhwIjoyMDkyMDE0OTQ3fQ.q8VavMne7pMqOIk7pi6PuE5ikDiAUH8RnIcuNuZ_g2o
