# Node
node_modules
npm-debug.log*
.DS_Store
coverage

# Python
__pycache__
*.py[cod]
/ai-engine/.env
/frontend/.env
/webhook-backend/.env


# Next.js
.next
out

# Supabase
supabase/.cache

# IDE
.vscode
